* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.rollRoot {
    width: 30%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.dice {
    display: flex;
}

.rollButton {
    background: mediumaquamarine;
    cursor: pointer;
    width: 100px;
    padding: 25px;
    border-radius: 15px;
    margin: 5px;
}

.rollButton:hover {
    color: white;
    transition: 300ms;
}

.dice p {
    transition: 1s;
}

.die {
    background: black;
    width: 100px;
    padding: 25px;
    border-radius: 15px;
    margin: 5px;
    border: 2px solid black;
    color: mediumaquamarine;
    text-align: center;

}

.board {
    display: flex;
    align-content: flex-start;
    flex-direction: column;

    /* height: 1000px; */

}

.board-row {
    display: flex;
    justify-content: center;
    width: 1000px;
}

.port {
    width: 104px;
    position: relative;
    top: 50px;
    padding-top: 10px;
    font-size: 2em;
}

.port-left {
    text-align: right;
    padding-right: 16px;
}

.port-right {
    padding-left: 16px;
}

.spacer {
    width: 104px;
}

.territory:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 30px solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.territory {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -20px;
    width: 104px;
    height: 60px;
    position: relative;
    border: 1px solid #75baf3;
}

.territory:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.territory:hover {
    font-weight: 800;
    box-shadow: 4px solid lightslategrey;
}

.number-token {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffe9cc;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.prob-5 {
    color: rgb(190, 16, 16);
}

.number {
    text-align: center;
}

.probability-ticks {
    font-size: .7em;
    font-weight: bold;
}


.territory-type-Mountain,
.territory-type-Mountain:before,
.territory-type-Mountain:after {
    background-color: rgb(59, 59, 59);
    border-bottom-color: rgb(59, 59, 59);
    border-top-color: rgb(59, 59, 59);
}

.territory-type-Forest,
.territory-type-Forest:before,
.territory-type-Forest:after {
    background-color: rgb(3, 77, 0);
    border-bottom-color: rgb(3, 77, 0);
    border-top-color: rgb(3, 77, 0);
}

.territory-type-Pasture,
.territory-type-Pasture:before,
.territory-type-Pasture:after {
    background-color: rgb(157, 214, 145);
    border-bottom-color: rgb(157, 214, 145);
    border-top-color: rgb(157, 214, 145);
}

.territory-type-Hills,
.territory-type-Hills:before,
.territory-type-Hills:after {
    background-color: rgb(77, 0, 0);
    border-bottom-color: rgb(77, 0, 0);
    border-top-color: rgb(77, 0, 0);
}

.territory-type-Fields,
.territory-type-Fields:before,
.territory-type-Fields:after {
    background-color: rgb(252, 249, 102);
    border-bottom-color: rgb(252, 249, 102);
    border-top-color: rgb(252, 249, 102);
}

.territory-type-Desert,
.territory-type-Desert:before,
.territory-type-Desert:after {
    background-color: rgb(223, 200, 159);
    border-bottom-color: rgb(223, 200, 159);
    border-top-color: rgb(223, 200, 159);
}

.territory-type-Desert .number-token {
    background: rgb(223, 200, 159);
}

/* overrides definitions above */
.territory:before,
.territory:after {
    background-color: transparent;
}

.actionButtons {
    /* margin: 0 auto; */
    width: 100%;
}

.actionButtonsDiceWrap {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.build {
    padding: 15px 10px;
    margin: 2px;
    border-radius: 15px;
    background-color: #7eb6f3;
    border-color: #007bff;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.build p {
    font-weight: 400;
    font-size: 16px;
}

.build:hover {
    color: white;
    border-color: white;
    transition: 300ms
}

.userControls {
    width: 98%;
    /* height: 300px; */
    margin: 0 auto;
    margin-top: 3%;
    padding: .5% 1% 1% 1%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: center; */
    background: cornflowerblue;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.topBuilds {
    display: flex;
}

.bottomBuilds {
    display: flex;

}

h3 {
    text-align: center;
    top: 2px;
}


.cards {
    background: rgb(59, 59, 59, .7);
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
    width: 60%;
}

.resourceRoot {}

.resources {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: space-evenly;
    /* justify-content: center; */
}

.resourceCard {
    font-size: 24px;

}

.developmentCardsRoot {}

.developmentCards {
    display: flex;
    align-content: center;
    align-items: center;
}

.developmentCardImg {
    height: 150px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.developmentCardImg:hover {
    background: black;
    height: 160px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: 200ms;
}

.boardAndPlayers {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-content: center;
    align-items: center;
}

table {
    background: #212529;
    border: 1px solid black;
    text-align: center;
    height: 150px;
    color: whitesmoke;
}

td {
    border: 1px solid #32383e;
    margin: 0;
}

.node-1 {
    position: absolute;
    bottom: 49px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    z-index: 2;
    left: -8px;
}

.node-2 {
    position: absolute;
    bottom: 78px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    z-index: 2;
    left: 45px;
}

.node-3 {
    position: absolute;
    bottom: 49px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    z-index: 2;
    left: 96px;
}

.node-4 {
    position: absolute;
    bottom: -10px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    z-index: 2;
    left: 96px;
}

.node-5 {
    position: absolute;
    bottom: -38px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    z-index: 2;
    left: 45px;
}

.node-6 {
    position: absolute;
    bottom: -11px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    z-index: 2;
    left: -5px;
}

.road {
    position: absolute;
    z-index: 1;
}

/* .road-56 {
    transform: rotate(-62deg);
    left: -14px;
    z-index: 1;
}

.road-12 {
    transform: rotate(58deg);
    left: 64px;
    top: -27px;
    z-index: 1;
}

.road-23 {
    transform: rotate(-62deg);
    left: 90px;
}

.road-34 {
    left: 61px;
    top: 60px;
    z-index: 1;
}

.road-45 {
    transform: rotate(58deg);
    left: 11px;
    top: 62px;
    z-index: 1;
}

.road-61 {
    left: 11px;
    top: -28px;
    z-index: 1;
} */

/* .settlement {
    left: 35px !important;
    top: -44px !important;
} */

.road-61 {
    transform: rotate(-62deg);
    left: -14px;
    z-index: 1;
}

.road-23 {
    transform: rotate(58deg);
    left: 64px;
    top: -27px;
    z-index: 1;
}

.road-34 {
    transform: rotate(-62deg);
    left: 90px;
}

.road-45 {
    left: 61px;
    top: 60px;
    z-index: 1;
}

.road-56 {
    transform: rotate(58deg);
    left: 11px;
    top: 62px;
    z-index: 1;
}

.road-12 {
    left: 11px;
    top: -28px;
    z-index: 1;
}

.debug-panel {
    visibility: hidden;
}